section {
    height: 80px;
    color: white;
    font-size: 32px;
    font-family: roboto;
    font-weight: 500;
    background-color:#810081 ;
    display: flex;
    justify-content: center;
    align-items: center;
}